<div class="provider-container">
  <div class="provider-description">
    <span class="provider-name"><%= provider.name %></span>
  </div>
  <div class="streaming-list">
    <p class="streaming-item">
      <%= link_to streamings[0].link, target: "#{provider.name}" do %>
        <%= "#{streamings[0].consumption} (€ #{'%.2f' % (streamings[0].price / 100.0)})" %>
      <% end %>
      <% if streamings[1] %>
        <%= link_to streamings[1].link, target: "#{provider.name}" do %>
          - <%= "#{streamings[1].consumption} (€ #{'%.2f' % (streamings[1].price / 100.0)})" %>
        <% end %>
      <% end %>
    </p>
  </div>
</div>
