<div class="movie-wrapper">
  <div class="container">
    <div class="row">
      <%= render 'shared/search_bar' %>
      <%# link_to "Back", "javascript:history.back()", class: "navbar-wagon-button" %>
      <div class="col-xs-12 col-sm-8">
        <div class="movie-info-container boxing">
          <div class="movie-basic-info">
            <span class="movie-title"><%= @movie.title %></span>
            <span class="movie-release-year"><%= " (#{@movie.release_date.to_date.year})" if @movie.release_date %></span>
            <span class="score-container">
              <% if @clap_score %>
                <% (1..5).each do |score| %>
                  <%= icon 'hand-spock-o', class: score <= @clap_score.round ? 'rating-enabled' : 'rating-disabled' %>
                <% end %>
              <% end %>
              <% if @movie.imdb_id %>
                <span class="imdbRatingPlugin" data-user="" data-title="<%= @movie.imdb_id %>" data-style="p4">
                  <%= link_to "http://www.imdb.com/title/#{@movie.imdb_id}/?ref_=plg_rt_1" do %>
                     <%= image_tag("http://g-ecx.images-amazon.com/images/G/01/imdb/plugins/rating/images/imdb_31x14.png", alt: "#{@movie.title} on IMDb") %>
                  <% end %>
                </span>


                <div class='inline-flex'>
                  <div class="movie-social movie-item-controls">
                    <% if !@friends.nil? %>
                      <% @friends.each do |b| %>
                        <% User.find(b).interests.each do |interest| %>
                          <% if interest.watched_on.nil? %>
                            <% if @movie.id == interest.movie_id %>
                               <%= link_to image_tag(User.find(b).picture, class: "avatar"), user_friendships_path(current_user) %>
                            <% end %>
                          <% else %>
                            <% if @movie.id == interest.movie_id %>
                               <%= link_to user_friendships_path(current_user), style: "text-decoration: none;" do %>
                                  <div style="background-image: url(<%= image_path(User.find(b).picture)%>)" class="avatar rating rating-container">
                                    <div class="rating-gradient"> </div>
                                    <div id="rating"><%= interest.rating %>/5</div>
                                  </div>
                               <% end %>
                            <% end %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>


                <div>
                <% if current_user.movies.include?(@movie) %>
                  <%= link_to icon('check-circle'), interests_path(movie_id: @movie), method: :post, remote: true, class:"movie-added-btn plus-button-movie-show" %>
                <% else %>
                  <%= link_to icon('plus-circle'), interests_path(movie_id: @movie), method: :post, remote: true, class:"plus-button-movie-show", id: "movie-add-#{@movie.id}" %>
                <% end %>
                </div>
                </div>


              <% end %>
            </span>
            <%= "<span>aka #{@original_title}</span><br>" if @original_title %>
          </div>

          <div class="container-movie-infos">
            <p>
              <span class="duration-minutes"><%= @movie.runtime %> min</span> |
              <span class="parental-rating"><%= @movie.adult ? 'Adult' : 'For all' %></span> |
              <span>Genres: <%= @genres %></span>
            </p>
            <p class="people-list">Directed by: <%= @directors %></p>
            <p>Starring: <%= @actors %></p>

          </div>

          <div class="movie-media-container">
            <div class="movie-poster-container">
              <%= image_tag((@movie.poster_url.blank? ? "http://placehold.it/204x300" : "http://image.tmdb.org/t/p/w500/" + @movie.poster_url), size: "204x300", alt: "2do", class: "img-responsive movie-poster-show") %>
            </div>
              <iframe height="300" width="477" src="<%= @movie.trailer_url%>?&showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="movie-synopsis">
          <div class="container-synopsis">
            <h4>Synopsis</h4>
            <p><%= @movie.overview %></p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="boxing">
          <div class="tabs">
            <a class="tab <%= 'active' if @shows.any? %>" data-target="#shows">
              <div class="tab-header">Shows</div>
            </a>
            <a class="tab <%='active' unless @shows.any? %>" data-target="#streamings">
              <div class="tab-header">Streamings</div>
            </a>
          </div>
          <div class="tab-content <%= 'hidden' unless @shows.any? %>" id="shows">
            <div class="container-movie-times">
              <ul class="list-unstyled">
                <% @shows.each do |theater, shows| %>
                  <li><%= render 'theater', theater: theater, shows: shows %></li>
                <% end %>
              </ul>
              <div class="theater-map"></div>
            </div>
          </div>
          <div class="tab-content <%= 'hidden' if @shows.any? %>" id="streamings">
            <ul class="list-unstyled">
              <% @streamings.each do |provider, streamings| %>
                <li><%= render 'provider', provider: provider, streamings: streamings %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  (function(d, s, id) {
  var js, stags = d.getElementsByTagName(s)[0];
  if(d.getElementById(id)) {return;}
  js = d.createElement(s);
  js.id = id;
  js.src = "http://g-ec2.images-amazon.com/images/G/01/imdb/plugins/rating/js/rating.min.js";
  stags.parentNode.insertBefore(js, stags);
  })
  (document, 'script', 'imdb-rating-api');
</script>
