<div class="movie-wrapper">
  <div class="container">
    <div class="row">
      <%= render 'shared/search_bar' %>
      <div class="col-xs-12  col-sm-8">
        <div class="movie-info-container boxing">
          <div class="movie-basic-info">
            <div class="movie-info-left">
              <span class="movie-title"><%= @movie.title%><%= " (#{@movie.release_date.to_date.year})" if @movie.release_date %></span>
              <% if @movie.imdb_id %>
                <span class="imdbRatingPlugin" data-user="" data-title="<%= @movie.imdb_id %>" data-style="p4">
                  <%= link_to "http://www.imdb.com/title/#{@movie.imdb_id}/?ref_=plg_rt_1" do %>
                     <%= image_tag("http://g-ecx.images-amazon.com/images/G/01/imdb/plugins/rating/images/imdb_31x14.png", alt: "#{@movie.title} on IMDb") %>
                  <% end %>
                </span>
              <% end %>
            </div>
            <div class="movie-info-right">
              <% if @clap_score %>
                <span class="score-container">
                    <% (1..5).each do |score| %>
                      <%= icon 'hand-spock-o', class: score <= @clap_score.round ? 'rating-enabled' : 'rating-disabled' %>
                    <% end %>
                </span>
              <% end %>

              <% if @movie.imdb_id %>
                <div class='inline-flex'>
                  <% if !@friends.nil? %>
                    <div class="movie-social movie-item-controls">
                      <% @friends.each do |b| %>
                        <% User.find(b).interests.each do |interest| %>
                          <% if interest.watched_on.nil? %>
                            <% if @movie.id == interest.movie_id %>
                               <%= link_to image_tag(User.find(b).picture, class: "avatar"), user_friendships_path(current_user) %>
                            <% end %>
                          <% else %>
                            <% if @movie.id == interest.movie_id %>
                               <%= link_to user_friendships_path(current_user), style: "text-decoration: none;" do %>
                                  <div style="background-image: url(<%= image_path(User.find(b).picture)%>)" class="avatar rating rating-container">
                                  </div>
                               <% end %>
                            <% end %>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                  <div>
                    <% if current_user.movies.include?(@movie) %>
                      <%= link_to icon('check-circle'), interests_path(movie_id: @movie), method: :post, remote: true, class:"movie-added-btn plus-button-movie-show" %>
                    <% else %>
                      <%= link_to icon('plus-circle'), interests_path(movie_id: @movie), method: :post, remote: true, class:"plus-button-movie-show", id: "movie-add-#{@movie.id}" %>
                    <% end %>
                  </div>
                </div>

              <% end %>
            </div>
            </span>
            <%= "<span>aka #{@original_title}</span><br>" if @original_title %>
          </div>

          <div class="container-movie-infos">
            <ul style="list-style-type: none" id="movie-infos-small">


              <span>
              <li><strong>Genres: </strong><%= @genres %> |
              <strong>Directed by:</strong> <%= @directors %> |
              <i class="fa fa-clock-o" id="clock-duration-inline"><span></i><%= @movie.runtime %> min </span> |
                <span class="parental-rating"><%= @movie.adult ? 'Adult' : 'For all' %></span></li>
              </span>
              <li><strong>Starring:</strong> <%= @actors %></li>
            </ul>
          </div>

          <div class="movie-media-container">
            <div class="movie-poster-container">
              <%= image_tag((@movie.poster_url.blank? ? "http://placehold.it/204x300" : "http://image.tmdb.org/t/p/w500/" + @movie.poster_url), size: "204x300", alt: "2do", class: "img-responsive movie-poster-show hidden-xs hidden-sm hidden-md") %>
            </div>
            <iframe height="300" width="477" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="movie-synopsis">
          <div class="container-synopsis">
            <h4>Synopsis</h4>
            <p><%= @movie.overview %></p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="boxing">
          <div class="tabs">
            <a class="tab <%= 'active' if @display_shows %>" data-target="#shows">
              <div class="tab-header"><i class="fa fa-film" aria-hidden="true" style="font-size: x-large;"></i></div>
            </a>
            <a class="tab <%='active' unless @display_shows %>" data-target="#streamings">
              <div class="tab-header"><i class="fa fa-television" aria-hidden="true" style="font-size: x-large;"></i></div>
            </a>
          </div>
          <div class="tab-content <%= 'hidden' unless @display_shows %>" id="shows">
            <div class="container-movie-times">
              <ul class="list-unstyled" id="shows_in_theaters">
                <li class="loader"></li>
              </ul>
            </div>
          </div>
          <div class="tab-content <%= 'hidden' if @display_shows %>" id="streamings">
            <ul class="list-unstyled" id="streamings_per_provider">
              <li class="loader"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <script src="https://js.pusher.com/3.1/pusher.min.js"></script>
  <script src="https://wagon-google-maps-markers.herokuapp.com/assets/application-5034196864c74ae1cc5f12e6d1f71223.js" type="text/javascript"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      Pusher.logToConsole = true;
      var pusher = new Pusher("<%= ENV['PUSHER_KEY'] %>", {
        cluster: 'eu',
        encrypted: true
      });
      // Subscribe to the channel
      var channel = pusher.subscribe('watching_events_channel');
      // Listen to showtimes refresh event
      channel.bind('refresh_showtimes', function(data) {
        if(data.user_id === <%= current_user.id %>) {
          var showsContainer = $('#shows_in_theaters');
          if(data.theaters_json.length > 0) {
            showsContainer.html(data['shows_html']);
            showsContainer.parent().append('<div class="theater-map" id="map"></div>')
            // Handle google maps display of theaters
            $('#shows_in_theaters').html(data['shows_html'])
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(data.theaters_json);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
            });
          } else {
            showsContainer.parent().html('<div class="text-center">No showtimes</div>')
          }
        }
      });
      // Listen to streamings refresh event
      channel.bind('refresh_streamings', function(data) {
        if(data.user_id === <%= current_user.id %>) {
          var streamingContainer = $('#streamings_per_provider');
          if(data['streamings_html'].length > 0) {
            streamingContainer.html(data['streamings_html']);
          } else {
            streamingContainer.parent().html('<div class="text-center">No streamings available</div>');
          }
        }
      });
    });
  </script>

  <script>
    (function(d, s, id) { // IMDb rating
      var js, stags = d.getElementsByTagName(s)[0];
      if(d.getElementById(id)) {return;}
      js = d.createElement(s);
      js.id = id;
      js.src = "http://g-ec2.images-amazon.com/images/G/01/imdb/plugins/rating/js/rating.min.js";
      stags.parentNode.insertBefore(js, stags);
    })
    (document, 'script', 'imdb-rating-api');
  </script>

  <script>
    $(document).ready(function() {
      $('iframe').attr('src', "<%= @movie.trailer_url%>?&showinfo=0");
    })
  </script>

<% end %>
