<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <div class="movie-info-container">
            <iframe width="400" height="300" src="<%= @movie.trailer_url %>?rel=0&amp;showinfo=0" showinfo=0 frameborder="0" allowfullscreen></iframe>
            <div>
            <%= image_tag((@movie.poster_url.blank? ? "http://placehold.it/200x300" : @movie.poster_url), size: "200x300", alt: "", class: "img-responsive movie-poster-show") %>
            </div>
            <div class="movie-basic-info">
              <h2><%= @movie.title %></h2>
              <p>Released on <strong><%= @movie.release_date %></strong></p>
              <p>Directed by </p>
              <p>Lasts <strong><%= @movie.runtime %></strong></p>
              <p>Cast </p>
            </div>
            <div class="score-container">
              <% if @movie.imdb_score %>
                <span class="score-value">score <%= "%1.1f" % (@movie.imdb_score / 2) %></span>
                <% (1..5).each do |score| %>
                  <%= icon 'hand-spock-o', class: score >= (@movie.imdb_score / 2).round ? 'rating-enabled' : 'rating-disabled'%>
                <% end %>
              <% else %>
                No score available...
              <% end %>
              <% if false %>
                <%# button_to "Add to watchlist", interests_path(movie_id: @movie), class: "btn btn-success" %>
              <% end %>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Synopsis</h4>
        <p><%= @movie.overview %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">SHOWS &amp; STREAMINGS</div>
    </div>
  </div>
</div>
