<div class="col-xs-12">
  <div data-toggle="modal" data-target="#myModal<%=friend.first_name%>" class="movie-item">
    <!-- img FB -->
    <div>
      <% if friend.picture %>
        <%= image_tag friend.picture, alt: friend.fullname, class: "movie-item-image", id:"friend-img" %>
      <% else %>
        <%= image_tag "http://placehold.it/40x60", alt: "placeholder", class: "movie-item-image" %>
      <% end %>
    </div>
    <!-- Fullname -->
    <div class='movie-item-body'>
      <h3 id="friend-h3"><%= friend.fullname %></h3>
    </div>
    <!-- common movies -->
    <div class=" hidden-sm hidden-md hidden-lg">
      <p class="sentence"><%= t('friends.common-movies', count: common_movies.length, friend: friend.first_name) %></p>
    </div>

    <% if common_movies.length < 7 %>
      <% common_movies.each do |movie| %>
        <div class="common-movies-small">
          <%= link_to image_tag(movie.poster_url, class: "movie-item-image hidden-xs"), movie %>
        </div>
      <% end %>
    <% else %>
      <p class="btn"><%= t('friends.more-common-movies', count: common_movies.length - 5) %>
      <% common_movies.take(5).each do |movie| %>
        <div>
          <%= link_to image_tag(movie.poster_url, class: "movie-item-image hidden-xs"), movie %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


