<!-- Modal -->
<div class="modal fade" id="myModal<%=friend.first_name%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <!-- button close -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="myModalLabel"><%= t ('friends.friendsinterest'), name: friend.first_name %></h3>
      </div>
      <!-- common movies -->
      <div class="modal-body">
        <!-- common movies -->
        <% if common_movies.any? %>
          <div>
            <h4><%= t ('friends.common') %></h4>
            <% common_movies.each do |movie| %>
              <%= render 'shared/friend_movie_item', movie: movie, friend: nil %>
            <% end %>
          </div>
        <!-- no common movies   -->
        <% else %>
          <div>
            <h4><%= t ('friends.nocommon') %> <%= friend.first_name %></h4>
          </div>
        <% end %>

        <!-- uncommon movies --> <!-- uncommon movies except movies i saw or movies he saw -->
        <% uncommon_movies = friend.unwatched_movies_list - common_movies %>
        <!-- uncommon movies -->
        <% if uncommon_movies.any? %>
          <div>
            <h4><%= t ('friends.uncommon') %> <%= friend.first_name %></h4>
            <% uncommon_movies.each do |movie| %>
              <%= render 'shared/friend_movie_item', movie: movie, friend: friend %>
            <% end %>
          </div>
        <!-- no common movies -->
        <% else %>
          <div><h4><%= friend.first_name %> <%= t ('friends.nomore') %></h4></div>
        <% end %>
      </div>
      <!-- close button -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t ('friends.close') %></button>
      </div>
    </div>
  </div>
</div>
