
<div class="col-xs-12">
    <div class="movie-item" <%= "id = movie-#{interest.id}" unless interest.nil?  %>>
      <!-- img FB -->
        <a  data-toggle="modal" data-target="#myModal<%=friend.first_name%>">
        <div>
        <% if friend.picture %>
          <%= image_tag friend.picture, alt: friend.fullname, class: "movie-item-image hidden-xs" %>
        <% else %>
          <%= image_tag "http://placehold.it/40x60", alt: "placeholder", class: "movie-item-image hidden-xs" %>
        <% end %>
        </div>
         </a>
        <!-- Fullname -->

        <div class='movie-item-body'>
          <h3><%= friend.fullname %></h3>
        </div>

      <% commun_movies = [] %>
      <!-- movies in commun -->
      <% friend.interests.each do |movie| %>
        <% current_user.interests.each do |cumovie| %>
          <% if cumovie.movie_id == movie.movie_id %>
              <% commun_movies << movie.movie_id %>
          <% end %>
        <% end  %>
      <% end  %>

      <% if commun_movies.length < 7 %>

        <% commun_movies.each do |movie_id| %>
          <div>
          <%= link_to image_tag(Movie.find(movie_id).poster_url, class: "movie-item-image hidden-xs"), movie_path(movie_id) %>
          </div>
        <% end %>
      <% else %>
        <div class="btn"> You have <%= commun_movies.length - 5 %> other movies in commun</div>
        <% commun_movies.take(5).each do |movie_id| %>
          <div>
          <%= link_to image_tag(Movie.find(movie_id).poster_url, class: "movie-item-image hidden-xs"), movie_path(movie_id) %>
          </div>
        <% end %>

      <% end %>




  </div>

</div>




<!-- Button trigger modal -->




<!-- Modal -->
<div class="modal fade" id="myModal<%=friend.first_name%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div>
          <h3>Your commun movies</h3>
          <% commun_movies.each do |movie_id| %>

            <%= link_to  movie_path(movie_id) do %>
            <div class="flex-box-center">
              <div class="">
              <% movie = Movie.find(movie_id) %>
              <%= image_tag(movie.poster_url, class: "movie-item-image hidden-xs")%>
                <div class="relative">
                  <div class="abolute">
                  <span><%= movie.title %></span>
                  </div>
                  <div class="abolute">
                  <span><%= movie.release_date.to_date.year %></span>
                  </div>
                </div>
              </div>
               <% end %>
            </div>
          <% end %>
        </div>

        <div>
          <h3>The other movies of <%= friend.first_name %></h3>
          <% friend.interests.each do |movie| %>
            <% if !commun_movies.include?(movie.movie_id) %>
              <div class="flex-box-center">
                <%= link_to  movie_path(movie.movie_id) do %>

                  <% movie = Movie.find(movie.movie_id) %>
                  <%= image_tag(movie.poster_url, class: "movie-item-image hidden-xs")%>
                    <span><%= movie.title %></span>
                    <span><%= movie.release_date.to_date.year %></span>
                    <span><%= link_to icon('plus-circle'), interests_path(movie_id: movie), method: :post, remote: true, class: "movie-add-btn", id: "movie-add-#{movie.id}" %></span>
                <% end %>
              </div>
            <% end %>


          <% end %>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
