
<div class="col-xs-12">
    <div class="movie-item" <%= "id = movie-#{interest.id}" unless interest.nil?  %>>
      <!-- img FB -->
        <a  data-toggle="modal" data-target="#myModal<%=friend.first_name%>">
        <div>
        <% if friend.picture %>
          <%= image_tag friend.picture, alt: friend.fullname, class: "movie-item-image hidden-xs" %>
        <% else %>
          <%= image_tag "http://placehold.it/40x60", alt: "placeholder", class: "movie-item-image hidden-xs" %>
        <% end %>
        </div>
         </a>
        <!-- Fullname -->

        <div class='movie-item-body'>
          <h3><%= friend.fullname %></h3>
        </div>

      <% if commun_movies.length < 7 %>

        <% commun_movies.each do |movie_id| %>
          <div>
          <%= link_to image_tag(Movie.find(movie_id).poster_url, class: "movie-item-image hidden-xs"), movie_path(movie_id) %>
          </div>
        <% end %>
      <% else %>
        <div class="btn"> You have <%= commun_movies.length - 5 %> other movies in commun</div>
        <% commun_movies.take(5).each do |movie_id| %>
          <div>
          <%= link_to image_tag(Movie.find(movie_id).poster_url, class: "movie-item-image hidden-xs"), movie_path(movie_id) %>
          </div>
        <% end %>

      <% end %>




  </div>

</div>


