<div <%=raw interest.nil? ? "class=\"movie-item\"" : "class=\"movie-item #{'un' unless interest.watched_on}watched-movie\" id=movie-#{interest.id}" %>>
  <%= link_to movie_path(movie.id) do %>
    <%= image_tag movie.poster_url ? movie.poster_url : "http://placehold.it/40x60", alt: movie.title, class: "movie-item-image hidden-xs" %>
  <% end %>
  <div class='movie-item-body'>
    <h3><%= link_to movie.title, movie_path(movie.id) %></h3>
    <div class="crew">
      <p class="item-director">Directed by: <%= movie.credits['crew']['Director'].join(', ') unless movie.credits['crew'].blank?%></p>
      <p class="item-cast-crew">Cast: <%= movie.credits['cast'].take(5).join(', ')%></p>
    </div>
    <div class="movie-infos">
      <p class="item-year-released"><%= movie.release_date.to_date.year %></p>
      <i class="fa fa-clock-o item-clock" aria-hidden="true"></i>
      <p class="item-runtime"><%= movie.runtime %> min</p>
    </div>
  </div>
  <div class="movie-item-social">
    <% if current_user.movies.include?(movie) %>
      <%= link_to icon('times'), interest_path(interest), method: :delete, class: "item-cross", remote: true unless interest.nil? %>
      <% if interest %>
        <% if interest.rating.nil? %>
          <p class="rating-text">Rate this movie</p>
        <% end %>
      <% end %>
      <div class="list-inline movie-item-controls movie-rating">
        <div class='starrr' <%= interest ? "id=#{interest.id} #{'data-rating=' + interest.rating.to_s if interest.rating}" : '' %> >
        </div>
      </div>
    <% else %>
      <div class="list-inline movie-item-controls movie-rating">
        <%= link_to icon('plus-circle'), interests_path(movie_id: movie), method: :post, remote: true, class: "movie-add-btn", id: "movie-add-#{movie.id}" %>
      </div>
    <% end %>
    <div class="movie-social movie-item-controls">
      <% if !@friends.nil? %>
        <% @friends.each do |friend_uid| %>
          <% !User.find_by_uid(friend_uid).interests.nil? %>
          <% User.find_by_uid(friend_uid).interests.each do |interest| %>
            <% if interest.watched_on.nil? %>
              <% if movie.id == interest.movie_id %>
                 <%= link_to image_tag(User.find_by_uid(friend_uid).picture, class: "avatar", "data-toggle" => "tooltip", 'data-placement' => "bottom", title: User.find_by_uid(friend_uid).first_name ), user_friendships_path(current_user) %>
              <% end %>
            <% else %>
              <% if movie.id == interest.movie_id %>
                 <%= link_to user_friendships_path(current_user), style: "text-decoration: none;" do %>
                    <div style="background-image: url(<%= image_path(User.find(b).picture)%>)" class="avatar rating rating-container" data-toggle="tooltip" data-placement="bottom" title=<%=User.find_by_uid(friend_uid).first_name%>>
                      <div class="rating-gradient">
                      </div>
                      <div id="rating"><%= interest.rating %><i class="fa fa-star" id="star-rating"></i>
                      </div>
                    </div>
                 <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

