<div <%=raw interest.nil? ? "class=\"movie-item\"" : "class=\"movie-item #{'un' unless interest.watched_on}watched-movie\" id=movie-#{interest.id}" %>>
  <%= link_to movie_path(movie.id) do %>
    <%= image_tag movie.poster_url ? movie.poster_url : "http://placehold.it/40x60", alt: movie.title, class: "movie-item-image hidden-xs" %>
  <% end %>
  <div class='movie-item-body'>
    <% if I18n.locale == :fr %>
   <!-- REMPLACER PAR TITLE_FR -->
      <h3><%= link_to movie.title, movie_path(movie.id) %></h3>
    <% else %>
      <h3><%= link_to movie.title, movie_path(movie.id) %></h3>
    <% end %>

    <div class="crew">
      <p class="item-director"><%= t ('movie-item.directed-by') %>: <%= movie.credits['crew']['Director'].join(', ') unless movie.credits['crew']['Director'].blank? %></p>
      <p class="item-cast-crew"><%= t ('movie-item.starring') %>: <%= movie.credits['cast'].take(5).join(', ')%></p>
    </div>
    <div class="movie-infos">
      <p class="item-year-released"><%= movie.release_date.to_date.year %></p>
      <i class="fa fa-clock-o item-clock" aria-hidden="true"></i>
      <p class="item-runtime"><%= movie.runtime %> min</p>
    </div>
  </div>
  <div class="movie-social movie-item-controls">
    <%= render 'shared/movie_item_friends_interests', movie: movie %>
  </div>
  <div class="movie-item-right-part">
    <div class="movie-item-social">
      <% if current_user.movies.include?(movie) %>
        <%= link_to icon('times'), interest_path(interest), method: :delete, class: "item-cross", remote: true unless interest.nil? %>
        <% if interest %>
          <% if interest.rating.nil? %>
            <p class="rating-text"><%= t ('movie-item.rating') %></p>
          <% end %>
        <% end %>
        <div class="list-inline movie-item-controls movie-rating">
          <div class='starrr' <%= interest ? "id=#{interest.id} #{'data-rating=' + interest.rating.to_s if interest.rating}" : '' %> >
          </div>
        </div>
      <% else %>
        <div class="list-inline movie-item-controls movie-rating">
          <%# link_to icon('plus-circle'), interests_path(movie_id: movie), method: :post, remote: true, class: "movie-add-btn", id: "movie-add-#{movie.id}" %>
          <%= link_to (t ('movie-item.add-to-wl')), interests_path(movie_id: movie), method: :post, remote: true, class: "movie-add-btn btn btn-success", id: "movie-add-#{movie.id}" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="movie-channel">
    <% if !movie.streamings.empty?  %>
      <div class="channel-label channel-label-streaming">
        <a href=<%=movie_path(movie.id)%>>vod</a>
      </div>
    <% end %>
    <% if !movie.theaters.empty?%>
      <div class="channel-label channel-label-cinema">
        <a href=<%=movie_path(movie.id)%>>cinéma</a>
      </div>
    <% end %>
  </div>
</div>



