<div class="col-xs-12">
  <div class="movie-item" <%= "id = movie-#{interest.id}" unless interest.nil?  %>>
    <% if movie.poster_url %>
      <%= image_tag movie.poster_url, alt: movie.title, class: "movie-item-image hidden-xs" %>

    <% else %>
      <%= image_tag "http://placehold.it/40x60", alt: "placeholder", class: "movie-item-image hidden-xs" %>
    <% end %>
    <!-- <img src="http://placehold.it/40x60" alt="kudoz" class="movie-item-image hidden-xs"> -->
    <div class='movie-item-body'>
      <h3><%= link_to movie.title, movie %></h3>
<!--       <p>Réal: Steven Spielberg</p> -->
    </div>
    <ul class="list-inline movie-item-controls hidden-sm hidden-xs">
    <% if current_user.movies.include?(movie) %>
      <div class='starrr' <%= "id = #{interest.id}" unless interest.nil?  %>></div>
    <% else %>
      <%= link_to "Add to watchlist", interests_path(movie_id: movie), method: :post, remote: true, class: "movie-add-btn", id: "movie-add-#{movie.id}" %>
    <% end %>
    </ul>
  </div>
</div>
