<div class="navbar-wagon">
  <!-- Center Navigation -->
  <div class="navbar-wagon-left hidden-xs hidden-sm">
    <!-- navbar element empty -->
    <%= link_to(user_signed_in? ? watchlist_path(current_user) : root_path) do %>
      <%= image_tag "logo.png", class: "clap-logo" %>
    <% end %>
  </div>

  <div class="navbar-wagon-center hidden-xs hidden-sm"></div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>
      <!-- Button (call-to-action) -->
      <div class="fb-messengermessageus" 
      messenger_app_id="1054618387948073" 
      page_id="1593695557626599"
      color="white"
      size="large" ></div>
      <%= button_to t(".top_call_to_action", default: "Movies"), movies_path, method: :get, class: "navbar-wagon-item navbar-wagon-button btn" %>
      <%= button_to t(".top_call_to_action", default: "Watchlist"), watchlist_path(current_user), method: :get, class: "navbar-wagon-item navbar-wagon-button btn" %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= link_to root_path, class: "navbar-wagon-brand dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" do %>
            <%= image_tag current_user.picture, class: "avatar" %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to user_friendships_path(current_user) do %>
                <i class="fa fa-users"></i> <%= t ".friends", default: "Friends" %>
              <% end %>
            </li>
            <li>
              <%= link_to watchlist_path(current_user) do %>
                <i class="fa fa-film"></i>  <%= t ".watchlist", default: "Watchlist" %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <% if user_signed_in? %>
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" id="dropdown_smartphone">

          <li>
            <%= link_to user_friendships_path(current_user) do %>
              <i class="fa fa-users"></i> <%= t ".friends", default: "Friends" %>
            <% end %>
          </li>
          <li>
            <%= link_to watchlist_path(current_user) do %>
              <i class="fa fa-film"></i>  <%= t ".watchlist", default: "Watchlist" %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>


