
<div class="navbar-wagon">
  <!-- Center Navigation -->
  <div class="navbar-wagon-left hidden-xs hidden-sm">
    <!-- navbar element empty -->
    <%= link_to(user_signed_in? ? watchlist_path(current_user) : root_path) do %>
      <%= image_tag "logo.png", class: "clap-logo" %>
    <% end %>
  </div>

  <div class="navbar-wagon-center hidden-xs hidden-sm">

  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Notification -->
      <%#link_to "#", class: "navbar-wagon-item navbar-wagon-link" do %>
        <!-- <div class="badge-container"> -->
          <!-- <i class="fa fa-envelope-o" style=" color:whitesmoke;"></i> -->
          <!-- <div class="badge badge-blue">3</div> -->
        <!-- </div> -->
      <%# end %>

      <!-- Button (call-to-action) -->
      <%= link_to t(".top_call_to_action", default: "Movies"), movies_path, class: "navbar-wagon-item navbar-wagon-button btn" %>

      <%= link_to t(".top_call_to_action", default: "Watchlist"), watchlist_path(current_user), class: "navbar-wagon-item navbar-wagon-button btn" %>


      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%# link_to root_path, class: "navbar-wagon-brand" do %>
            <%# image_tag current_user.picture, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <%# end %>
          <%= link_to root_path, class: "navbar-wagon-brand dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" do %>
            <%= image_tag current_user.picture, class: "avatar" %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to user_friendships_path(current_user) do %>
                <i class="fa fa-users"></i> <%= t ".friends", default: "Friends" %>
              <% end %>
            </li>
            <li>
              <%= link_to watchlist_path(current_user) do %>
                <i class="fa fa-film"></i>  <%= t ".watchlist", default: "Watchlist" %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- <button type="button" class="navbar-wagon-item navbar-wagon-button btn" data-toggle="modal" data-target=".login-modal-sm">Sign in with Facebook</button> -->

<!--       <div class="modal fade login-modal-sm" id='LogInModal' tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-12 text-center">
                  <h4>Sign in with Facebook</h4>
                  <%# link_to user_facebook_omniauth_authorize_path do %>
                    <%# image_tag('login_fb_small.png') %>
                  <%# end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>


