<div class="banner">
  <div class="banner-content">
    <!-- Code visible en Desktop -->
    <h2 class="hidden-xs"><span class="element"></span></h2>
    <!-- Code visible en XS uniquement. On retire l'animation Typedjs -->
    <h2 class="visible-xs">love movies?</h2>

    <h1>say hello to <span id="main-title">Holly</span></h1>
    <div class="start-btn">
      <%= link_to "START", new_user_session_path, class: "btn btn-secondary" %>
    </div>
    <a href="#1" class="hidden-xs">
      <div class="glyphicon glyphicon-chevron-down"></div>
    </a>
  </div>
</div>
<div class="hp-wrapper" id="1">
  <div class="container">
    <div class="row marged-bot">
      <div class="col-xs-12 col-sm-6 col-sm-push-6">
        <div class="hp-content">
          <div class="hp-icon">
            <%= emojify ":clipboard: :movie_camera: :yum:" %>
          </div>
          <div class="hp-text">
            <h3 class='text-center'>Fill your watchlist</h3>
            <p class="text-justify">Holly is a powerful, yet simple, movie watchlist manager. Search and add the movies you want to watch. Browse your own watchlist (by filtering by duration, stars...). Access movies info (overview, cast, trailer, poster...). Know how you can watch the film (theaters or streaming)</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-pull-6">
        <%= image_tag "watchlist.png", class: "demo-image" %>
      </div> 
    </div>
    <div class="row marged-bot">
      <div class="col-xs-12 col-sm-6">
        <div class="hp-content">
          <div class="hp-icon">
            <%= emojify ":mailbox: :e-mail: :grinning:" %>
          </div>
          <div class="hp-text">
            <h3 class='text-center'>Get updates</h3>
            <p class="text-justify">Each week, we'll send you one email, to let you know : which movies are available (theaters or streaming). Which movies you share with your friends watchlist.</p>
          </div>
        </div>
      </div>
       <div class="col-xs-12 col-sm-6">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="hp-content">
          <div class="hp-icon">
            <%= emojify ":iphone: :speech_balloon: :astonished:" %>
          </div>
          <div class="hp-text">
            <h3 class='text-center'>On the go</h3>
            <p class="text-justify">For us, Holly is more than a web service. We really want to give it a soul. So now, you can now interact with Holly via Facebook Messenger, whether in your desktop browser, or on the Messenger mobile app. Search a movie, add it, show your watchlist... you can do all this (and many other things to come), just by chatting with it.
            <br>Awesome, right?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-white">
  <div class="start-btn">
    <%= link_to "TRY IT NOW", new_user_session_path, class: "btn btn-secondary" %>
  </div>
</div>