<div class="banner" style="background: linear-gradient(-225deg, rgba(0, 0, 0, 0) 0%, rgba(0,54,61,0.6) 50%), url(<%= image_path('background.jpg') %>);margin-top: -70px;">
  <div class="banner-content">
    <h2><%= t ('home.title') %></h2>
    <p><%= t ('home.subtitle') %></p>

    <button type="button" class="banner-central-button" data-toggle="modal" data-target=".login-modal-sm"><%= t ('home.button-lets-clap') %></button>

    <div class="modal fade login-modal-sm" id='LogInModal' tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-12 text-center">
                  <h5><%= t ('login') %></h5>
                  <%= link_to user_facebook_omniauth_authorize_path do %>
                    <%= image_tag('login_fb_small.png') %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>

<div class="wrapper-gray padded">
  <div class="container text-center padded features">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-4">
        <div class="card" id="discover">
        <div class="card-title"><h2><%= t ('home.discover-title') %></h2></div>
          <div class="card-content">
            <p><%= t ('home.discover') %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-4">
        <div class="card">
          <div class="card-title"><h2><%= t ('home.plan-title') %></h2></div>
            <div class="card-content">
              <p><%= t ('home.plan') %></p>
            </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-4">
        <div class="card">
          <div class="card-title"><h2><%= t ('home.share-title') %></h2></div>
          <div class="card-content">
            <p><%= t ('home.share') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-multidevice">
  <div class="title-multidevice text-center" id="soon">
    <%= image_tag("soon.png")%>
  </div>
  <div class="container text-center" id="multiplatform">
    <%= image_tag("clap_iOS.png")%>
  </div>
</div>








