console.log("hello JAVASCRIPT");
$('#movie-add-' + <%= @movie.id %>).removeClass( 'movie-add-btn btn-success' ).addClass( 'movie-added-btn btn-secondary').html('added to list');
<% if @friend %>
  console.log('on passe dans le if friend');
  if ($('#friend-' + <%= @friend.id %> + ' .movie-item > div').length < 8) {
    console.log('on passe dans le if');
    $('#friend-' + <%= @friend.id %> + " .movie-item").append('<div><%= link_to image_tag(@movie.poster_url, class: "movie-item-image hidden-xs"), movie_path(@movie) %></div>');
  } else {
    console.log('on passe dans le else');
    $('#friend-' + <%= @friend.id %> + " .movie-item > div").last().remove();
    $('#friend-' + <%= @friend.id %> + " .movie-item").append('<div><%= link_to image_tag(@movie.poster_url, class: "movie-item-image hidden-xs"), movie_path(@movie) %></div>');
  }
//   console.log("ON PASSE DANS LE JAVASCRIPT !!!!");
<% end %>
